{% extends "base.html" %}

{%block content %}
    <div class="font-bold flex items-center justify-center text-4xl m-20">
        Your History:
    </div>
    {% for session in current_user.sessions %}
    <div class="m-12 p-4 rounded-full bg-amber-200 grid grid-cols-4">
        <div>
            {% if session.name == '' %}
            <i>Untitled</i>
            {% else %}
            {{session.name}}
            {% endif %}
        </div>
        <div>
            {{session.start}}
        </div>
        <div>
            {{session.end}}
        </div>
        <div>
            {{session.duration}}
        </div>
    </div>
    {% endfor %}
{% endblock %}