{% extends "base.html" %}

{%block content %}
    <div class="font-bold flex items-center justify-center text-4xl m-16">
        Your History:
    </div>
    <div class = "w-1/3 self-center">
    {% for s in current_user.sessions |reverse %}
        {% if s.ended_at %}
        <div class="bg-white rounded-xl shadow-md p-4 border border-gray-200 mb-4 transition-scale duration-100 ease-in-out hover:scale-105 flex">
            <div>
                <div class="font-semibold text-gray-700">{{ s.name or "Session" }}</div>
                <div class="font-light text-gray-500">{{s.task_type}}</div>
                {% if s.started_at.strftime("%d/%m/%y") == s.ended_at.strftime("%d/%m/%y") %}
                <div class="text-sm text-gray-500 mt-1">
                    {{s.started_at.strftime("%d/%m/%y")}}
                </div>
                {% else %}
                <div class="text-sm text-gray-500 mt-1">
                    {{s.started_at.strftime("%d/%m/%y")}} -
                    {{s.ended_at.strftime("%d/%m/%y")}}
                </div>
                {% endif %}
                <div class="text-sm text-gray-500 mt-1">
                    {{s.started_at.strftime("%I:%M %p")}} -
                    {{s.ended_at.strftime("%I:%M %p")}},
                    {{(s.duration/60000)|round(0) | int}} minutes
                </div>
                <div class = "italic text-sm">
                    {% if s.description == '' %}
                    No Description.
                    {% else %}
                    {{s.description}}
                    {% endif %}
                </div>
            </div>
            <div class="flex-grow">

            </div>
            <div class="self-center">
                <div class="m-auto">
                    {{s.mood}}
                </div>
                <div>
                    Productivity: {{ (s.productivity or 50)|round(0)|int }}
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endblock %}